body{
    padding: 10px 15px;
}
.App{
  color: #222;
  padding-top: 3%;
  font-size: 17px;
}
.App ul{
  color: #004f00;
}
.App input{
  border-radius: 5px;
  border: none; 
  width: 50%;
  padding: 15px 25px;
}
.App .search{
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 50px;
  position: fixed;
  background: #fdd670;
}



@media screen and (max-width: 400px){
  .App input{
    width: 85%;
  }
  .App .search{
    padding: 15px 5px;
  }
  
}